<div class="row">
  <aside class="col-md-4">
    <section class="image_info">
      <h1>
        <% if @image %>
          <%= image_tag @image.url %>
        <% else %>
          No image found!
        <% end %>
      </h1>
      <% if @image %>
        <p>
          Tag: <br>
          <span class="js-image-tag">
            <%= raw(@image.tag_list.map { |t| link_to t, images_path(tag: t) }.join(', ')) %>
          </span>
        </p>
      <% end %>
    </section>
  </aside>
</div>
